@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap");

.fetched-data {
  font-size: 24px;
  font-family: "Source Serif Pro", serif;
  max-width: 50%;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 0 5% 25%;
}
